body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

header {
  margin: auto;
  text-align: center;
}

#logo {
  width: 15em;
}

.under-logo {
  background-color: rgba(253, 251, 241, 1);
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid rgb(255, 224, 71);
}

#textunderlogo {
  color: rgba(16, 119, 119, 1);
}

main {
  justify-content: center;
  display: flex;
}

h1 {
  text-align: center;
}

.copyright {
  text-align: center;
  color: rgb(161, 161, 161);
}

#nonumber {
  list-style-type: none;
}

.colorslink {
  color: rgba(16, 119, 119, 1);
}

.links p {
  color: rgba(181, 70, 15, 1);
}

.links {
  border-left: 2px solid rgb(255, 224, 71);
}

.marginleft {
  margin-left: 2em;
}

.Ingredients-titles {
  font-weight: 600;
  font-size: 0.8em;
}

ul {
  margin-bottom: 2em;
}

li {
  margin-bottom: 1em;
}
